<div class="container-fluid">

  <div id="main">

    <div class="row-fluid">
      <div class="span12" id="logo">
        <%= image_tag("baton_web/logo.png") %>
      </div>
    </div>

    <div class="row-fluid">

      <div class="span6" id="catchcopy">
        <h2><%= image_tag("baton_web/h1_catch_copy.png", :alt => "全ての知識をiPhoneで読みやすい形で") %></h2>

        <div class="list_wrapper">
          <div class="list_header"></div>
          <ul class="js_baton_list">
          </ul>
          <div class="list_footer"></div>
        </div>
      </div>

      <div class="span6" id="device">
        <div class="baton_sub_list_wrapper">
          <div class="iphone">
            <ul id="baton_sub_list" class="js_baton_sub_list">
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="sub">

    <div class="row-fluid">
      <div class="span12" id="whats">
        <h3><%= image_tag("baton_web/h2_howto.png", :alt => "batonでできること") %></h3>
      </div>
    </div>

    <div class="row-fluid">

      <div class="span6" id="features_nav">
        <ul class="js_features_nav">
          <li><a href="#"><%= image_tag("baton_web/nav_function.png", :alt => "概要・機能") %></a><i class="arrow"></i></li>
          <li><a href="#"><%= image_tag("baton_web/nav_want_to_know.png", :alt => "何かを知りたい時に") %></a><i class="arrow"></i></li>
          <li><a href="#"><%= image_tag("baton_web/nav_recording.png", :alt => "メモしたい時に") %></a><i class="arrow"></i></li>
          <li><a href="#"><%= image_tag("baton_web/nav_emotion.png", :alt => "開発者の想い") %></a><i class="arrow"></i></li>
          <li><a href="#"><%= image_tag("baton_web/nav_move.png", :alt => "使い方動画") %></a><i class="arrow"></i></li>
        </ul>
      </div>

      <div class="span6" id="features_content">
        <div class="box js_features_content">
          <div class="content">
            <p>
              Batonは全ての知識を<br />
              iPhoneで読みやすい形<br />
              （120文字までの本文とリンク）<br />
              で提供する事を目的としたiPhoneアプリです。<br />
            </p>
            <p>
              既に登録された知識に<br />
              ワンタップするだけ自分の知識を管理したり<br />
              新しい知識を得る事ができます
            </p>
          </div>
          <div class="content">
            2
          </div>
          <div class="content">
            3
          </div>
          <div class="content">
            4
          </div>
          <div class="content">
            5
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row-fluid">
    <div class="span12" id="copyright">
      <p>
        Born was 2006<br />
        Copyright (c) <a href="http://mindia.jp/">mindia Inc.</a> All right reserved.
      </p>
    </div>
  </div>
</div>


