<!DOCTYPE html>
<html>
<head>
  <title>Baton（バトン）：全ての知識をiPhoneで読みやすい形で</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "statics" %>
  <%= csrf_meta_tags %>
</head>
<body id="statics">

<%= yield %>

</body>
</html>

